<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LDEBundleIdentifier</key>
	<string>Game.BLQ.OMORI</string>
	<key>LDEBundleInfo</key>
	<dict>
		<key>UIRequiresFullScreen</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>NSAllowsLocalNetworking</key>
			<true/>
			<key>NSLocalNetworkUsageDescription</key>
			<string>This app needs to access the local web server for game content</string>
			<key>NSExceptionDomains</key>
			<array>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSExceptionMinimumTLSVersion</key>
					<string>TLSv1.0</string>
					<key>NSExceptionDomain</key>
					<string>localhost</string>
					<key>NSExceptionRequiresForwardSecrecy</key>
					<false/>
				</dict>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSExceptionMinimumTLSVersion</key>
					<string>TLSv1.0</string>
					<key>NSExceptionDomain</key>
					<string>127.0.0.1</string>
					<key>NSExceptionRequiresForwardSecrecy</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneConfigurationName</key>
						<string>Default Configuration</string>
						<key>UISceneDelegateClassName</key>
						<string>SceneDelegate</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>LDEBundleShortVersion</key>
	<string>1.0</string>
	<key>LDEBundleVersion</key>
	<string>1.0</string>
	<key>LDECompilerFlags</key>
	<array>
		<string>-fobjc-arc</string>
	</array>
	<key>LDEDisplayName</key>
	<string>OMORI</string>
	<key>LDEExecutable</key>
	<string>OMORI</string>
	<key>LDELinkerFlags</key>
	<array>
		<string>-ObjC</string>
		<string>-lc</string>
		<string>-lc++</string>
		<string>-lz</string>
		<string>-framework</string>
		<string>Foundation</string>
		<string>-framework</string>
		<string>UIKit</string>
		<string>-framework</string>
		<string>WebKit</string>
		<string>-framework</string>
		<string>CFNetwork</string>
		<string>-framework</string>
		<string>MobileCoreServices</string>
	</array>
	<key>LDEMinimumVersion</key>
	<string>16.1.1</string>
	<key>LDEProjectType</key>
	<integer>1</integer>
	<key>LDEVersion</key>
	<string>16.1.1</string>
</dict>
</plist>
